
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />


<div style="margin-left: 2%;
display: flex;
box-shadow: 0 0 35px #0000009e;
width: 95%;
height: 39%;
height: 85%;
margin-top: 3%;
background: #33444f36;
backdrop-filter: blur(8px);">

<div style="margin-left:5%;display:inline-block;width: 40%;">
  <h1 style="width: 100%;">Angel Villagaray Ventura</h1>


  <div style="width: 100%;">
    <h1 style="font-size:35px">Conocimientos previos</h1>
  <h2>anteriormente eh trabajado como asistente de servicios en las agroexportadoras Larama berrier y agromigiva <a style="background-image:url('./featured_channel.png');width: 50px;height: 50px" ></a>, no solo coordinando el tema alimenticio y logistico de varios fundos, tambien creando base de datos y sistemas de seguimiento vehicular a base de Angular y firebase </h2>


</div>
</div>

<div style="display:inline-flex;width:50%;height:50%;">
<div class="cuadro_1">

</div>

<div style="margin-left:-55%" class="cuadro_2">


</div>
</div>


</div>


<div style="margin-left: 2%;
box-shadow: 0 0 35px #0000009e;
width: 95%;
height: 69%;
flex-wrap: wrap;
height: 140%;
margin-top: 3%;
background: #33444f36;
backdrop-filter: blur(8px);">

<div style="width: 40%;margin-left: 5%;padding-top: 2%;">
<h1 style="font-size:35px">Actualmente</h1>
<h2>Actuallmente me encuentro implementando un sistema alimenticio para la agroexportadora Beta que coinciste en 1 aplicacion web y 2 aplicaciones android </h2>
<h2 style="font-size:22px;color:rgb(197, 61, 61);text-shadow: 0 0 0px #000;">No se muestra toda la informacion de las aplicaciones por seguridad del cliente</h2>
</div>


<div style="width: 100%;height: 100%;display: flex;margin-top:5%">
<div class="apli_web" >

  <div class="compu"></div>
  <div style="margin-left: 5%;">
    <h1 style="font-size:22px">Aplicacion web de RRHH</h1>
    <h2 style="font-size:18px">Esta aplicacion web recibe las peticiones de recervaciones de almuerzo que hacen los trabajadores a travez de la aplicacion android, cuenta con 6 pestañas : </h2>
    <li>Hoy</li>
    <li>Horario</li>
    <li>Usuarios</li>
    <li>Registros</li>
    <li>Encuestas</li>
    <li>Configuración</li>
  </div>

</div>

<div class="apli_web" >

  <div class="cel_2"></div>
  <div style="margin-left: 5%;">
    <h1 style="font-size:22px">Aplicacion Colaborador</h1>
    <h2 style="font-size:18px">Esta aplicacion android fue creada para que los trabajadores puedan ver el historial de consumo y el menu de la semana para poder reservar su almuerzo ademas de contar con un historial de consumo para poder controlar los alimentos que consumen</h2>

  </div>







</div>

<div class="apli_web" >

  <div class="cel_1" ></div>
  <div style="margin-left: 5%;">
    <h1 style="font-size:22px">Aplicacion consecionaria</h1>
    <h2 style="font-size:18px">Esta aplicacion android cuenta con un lector QR para poder leer los fotochep de los trabajadores y poder ver que tipo de almuerzo an reservado y poder atenderlo </h2>

  </div>

</div>



</div>
